body{
  margin:0;
  padding:0;
  background:#ccc;
}
nav ul{
  list-style:none;
  background-color:#090C4E;
  text-align: center;
  padding:0;
  margin: 0;
}
nav li{
  width:15%;
  border-right: 1px;
  font-size: 140%;
  display:inline-block;

}
nav a{
  text-decoration: none;
  color:#F1C40F;
  display:block;
  padding-left: 0px;
  transition:.5s background-color;
}
nav a:hover{
  background-color: black;
}
footer{
    background:#090C4E;
    color:#F1C40F;
    padding: 40px 0;
    position: relative;
    font-size: 25px;
}
.LI-profile-badge{
  padding-left: 10%;
  padding-right: 5%;
  padding-bottom: 4%;
 display: inline-block;
}
.team{
  color:red;
  font-size: 50px;
  text-align: center;
}
.footer_logo{
  text-align: center;
}

p{
	margin-left: 10%;
	margin-top: 4%;
}
.notes{
	margin-right: 5%;
	margin-top: 4%;
  margin-left: 5%;
  margin-bottom: 4%;
  display:inline-block;
}
a{
    text-decoration: none;
    display:block;
}
.upload{
  width: 90%;
  color:#F1C40F;
}
.notes_head{
  color:red;
  font-size: 50px;
  text-align: center;
}
.choose{
	margin-right: 1%;
	margin-top: 4%;
  margin-left: 1%;
  margin-bottom: 4%;
  display:inline-block;
}
